.form-inputs
  ul.specs

.form-control.pill-buttons
  p.button-wrapper
    button.push(type='button') +
    button.pop(type='button') -

.form-navigation
  p.button-wrapper
    button.attent Next Step

  p.anchor-wrapper
    a.back Back
