.form-inputs

.form-control.pill-buttons
  p.button-wrapper
    button.push(type='button') +
    button.pop(type='button') -

.form-navigation
  p.button-wrapper
    button.attent(type='submit') Next Step

  p.anchor-wrapper How does this work? Check out the <a href="http://github.com/jeffreyolchovy/lineup" target="_new">source code</a>.
