.hd
  p For each position in the batting order, select the statistics that will determine which player is the ideal fit for that role.

  p Click on a statistic to toggle whether the player should perform higher or lower than the lineup's average.

  p For more information on which statistics to use for each position in the lineup, see the table titled <em>Variables in Order of Importance</em> at <a href="http://www.pankin.com/markov/btn1191.htm" target="_new">http://www.pankin.com/markov/btn1191.htm</a>.

  p A generic softball strategy has been preloaded by default.

.bd
